<hr/>
<footer class="muted">
	<div class="row-fluid">
		<div class="span6">
			<a href="?a=about"><?=__('ABOUT_TOUSHI');?></a>
		</div>
		<div class="span6 text-right">
			<?=__('TOUSHI');?> © <?=date("Y")?>
		</div>
	</div>
</footer>
<div id="login" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4><?=__('LOGIN')?></h4>
  </div>
  <div class="modal-body">
		<form id="login-form" class="form-horizontal" method="post" action="?c=user&amp;a=login">
		  <fieldset>
		    <div class="control-group <?php if(isset($data['error']['email'])) echo 'error'; ?>">
		      <label class="control-label" for="email"><?=__('EMAIL')?></label>
		      <div class="controls">
		        <input type="text" name="email" id="email" placeholder="<?=__('EMAIL')?>" value="<?=v('email')?>" />
		        <span class="help-inline"><?=$data['error']['email'][0]?></span>
		      </div>
		    </div>
		    <div class="control-group <?php if(isset($data['error']['password'])) echo 'error'; ?>">
		      <label class="control-label" for="password"><?=__('PASSWORD')?></label>
		      <div class="controls">
		        <input type="password" name="password" id="password" placeholder="<?=__('PASSWORD')?>" />
		        <span class="help-inline"><?=$data['error']['password'][0]?></span>
		      </div>
		    </div>
		    <div class="form-actions">
		      <input class="btn btn-success" name="login" type="submit" value="<?=__('LOGIN')?>"/>
		      <small class="help-inline"><?=__('NEED_SIGNUP')?></small>
		    </div>
		  </fieldset>
		</form>
  </div>
</div>
<script type="text/javascript">
$("#login-btn").click(function(){
	$("#login").modal("show")
})
</script>