<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <?php @include_once( dirname(__FILE__) ) . DS . 'head.tpl.html'; ?>  
</head> 
<body>
 	<?php @include_once( dirname(__FILE__) ) . DS . 'header.tpl.html'; ?>  
 
  <div class="container">
    <?php 
		$tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'main' . DS . g('c') . DS . g('a') . '.tpl.html';
		if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
		else @include( CROOT . $tfile );
		?>

    <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>
  </div><!--/.fluid-container-->
</body>
</html>